## Handling Missing Values

In [3]:
#Import Requiresd libraries
#Lets take Ttanic Dataset form seaborn
import seaborn as sns
import pandas as pd

In [5]:
import numpy as np
import seaborn as sns

sns.load_dataset('titanic)

In [6]:
df.head()

NameError: name 'df' is not defined

In [7]:
#Chech missing values in the data set
df.isnull().sum()

NameError: name 'df' is not defined