# Nominal/One Hot Encoding

In [3]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [5]:
## create a sample dataset
df = pd.DataFrame({
    'color' : ['red','blue','green','green','red','blue']
})
# The data does not have intrensive ordering

In [7]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [9]:
# Lets convert this into numerical using One Hot Encoder

In [13]:
#create instence of one hot encoder
encoder = OneHotEncoder()

In [17]:
#fit the encoder to the dataframe and transform the categorical variable
encoded = encoder.fit_transform(df[['color']])

In [21]:
encoded_df = pd.DataFrame(encoded.toarray(),columns = encoder.get_feature_names_out() )

In [23]:
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [25]:
pd.concat([df,encoded_df],axis = 1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

This technique is known as Hot one encoding